# Case study #03 - Correlation and regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Read the dataset to the python environment.

In [2]:
dataset = pd.read_csv('W7Add_sales_data_2018.csv')
dataset

,Date,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4093.065
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,4042.448
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,4213.819
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,4391.665
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,4350.683
...,...,...,...,...,...,...,...
200,2017-12-14,288.00,288.25,279.20,284.50,284.30,5374.105
201,2017-12-13,290.00,292.50,282.20,284.80,284.45,5439.655
202,2017-12-12,298.60,298.60,286.65,287.45,287.80,5545.013
203,2017-12-11,290.00,299.55,285.90,297.85,298.35,5565.444
204,2017-12-08,287.55,289.90,285.05,288.05,288.45,5421.842

### 1.First of all, check whether there is any relationship between the amount spent for advertising through five different companies and profit generated.

In [3]:
corr_matrix = dataset.corr()
corr_matrix["Profit(in Thousands)"].sort_values(ascending=False)

Profit(in Thousands)    1.000000
Add2(in Thousands)      0.999145
Add5(in Thousands)      0.993710
Add3(in Thousands)      0.993389
Add4(in Thousands)      0.993346
Add1(in Thousands)      0.991975
Name: Profit(in Thousands), dtype: float64

<li> From the above result we infer that amount spent for advertising through five different companies and profit generated have high positive correlation in the range of +0.99.

### 2.Build a regression model to predict the profit from the given data and comment your findings on it.

In [7]:
X = dataset[["Add1(in Thousands)", "Add2(in Thousands)", "Add3(in Thousands)", "Add4(in Thousands)", "Add5(in Thousands)"]]
y = dataset["Profit(in Thousands)"]
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state= 0)

from sklearn  import linear_model 
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from math import sqrt

# Train the model
model = linear_model.LinearRegression()
model.fit(X_train, y_train)
y_hat = model.predict(X_test)

# Model performance
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)
print('Coefficient of determination (R^2):', r2_score(y_test, y_hat))
print('Mean squared error (MSE):', mean_squared_error(y_test, y_hat))
print('Root mean squared error (RMSE) :', sqrt(mean_squared_error(y_test, y_hat)))

Coefficients: [ 1.   12.38  3.5   1.    0.9 ]
Intercept: 2.7284841053187847e-12
Coefficient of determination (R^2): 1.0
Mean squared error (MSE): 2.254734250346156e-24
Root mean squared error (RMSE) : 1.5015772542051095e-12

<li> The coefficients and intercept satisfy the equation y=mx+c.
<li> R-squared shows the distance of data from the fit line. The best possible score is 1. The proximity of the r-squared value to 1 indicates the suitability of the model.
<li> The mean squared error (MSE) tells you how close a regression line is to a set of points. It's called the mean squared error as you're finding the average of a set of errors. The lower the MSE, the better the forecast. 0 MSE means the model overfits the data. It's 2.25e-24 for our model.
<li> RMSE measures the distance between the vector of prediction and the vector of target values. Itâ€™s 1.501e-12 for our model.
<li> The parameters obtained for the linear regression model look satisfactory.

### 3.Predict the profit generated by the company, if they wish to spend the following amount for advertisement.
### Add1(in Thousands) 290     
### Add2(in Thousands) 312
### Add3(in Thousands) 309
### Add4(in Thousands) 298
### Add5(in Thousands) 320

In [10]:
new_mod = [[290, 312, 309, 298, 320]]
print('Profit generated by spending the given amount for advertisements:', int(model.predict(new_mod)), '(in Thousands)')

Profit generated by spending the given amount for advertisements: 5820 (in Thousands)